@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

html, body {
	font-family: 'Poiret One', cursive;
	background-color: #E7CCff;
}

.header {
	font-size: 16px;
	display: inline;

}

.theDev {
	text-align: center;
}

.udacityLogo {
	text-align: center;
}

.hero .container img, picture {
	max-width: 100%;
}

.fontawesome-github {
	font-size: 48px;
	text-decoration: none;
	text-align: center;
	color: black;
}

@media screen and (max-width: 450px){

	.theDev, .subtitle {
		text-align: center;
	}

	.hero .btn {
		position: relative;
		left: calc(50% - 55px);
		top: 175px;
	}

	.featuredWork, .swimPic {
		display: block;
		margin-top: 25px;
		text-align: right;
	}

	.featuredWork img {
		margin-top: 30px;
	}

	.fontawesome-github {
		position: relative;
		left: calc(50% - 15px);
		top: 75px;
	}
}

/*DO LAST*/
@media screen and (min-width: 451px) {
	.header .container {
		width: 100%;
	}

	.header div {
		display: inline-block;
	}

	.header div:last-of {
		margin-left: 30px;
	}

	.logo {
		text-align: right;
	}

	.hero .btn {
		display: none;
	}

	.featuredWork h3 {
		text-align: center;
	}

	.leaf, .berries img {
		width: 50vw;
	}
}

@media screen and (min-width: 640px) {
	.hero {
		float: right;
		clear: right;
	}

	.hero .container img {
		width: 950px;
	}

	.featuredWork .container img{
		max-width: 20%;
		display: inline-block;
		float: right;
		margin-right: 15px;
	}
 
}